.input {
  width: 100%;
  background-color: var(--color-primary-100);
  border: none;
  color: var(--color-primary-700);
  border-radius: 8px;
  padding: 1.2rem 1.6rem;
  caret-color: var(--color-caret);

  font-family: var(--c1-font-family);
  font-weight: var(--c1-font-weight);
  font-size: var(--c1-font-size);
  line-height: var(--c1-font-line-height);
  letter-spacing: var(--c1-font-letter-spacing);
}

.input::placeholder {
  color: var(--color-primary-400);
}

input:focus {
  outline: none;
  border: none;
}

input[aria-invalid="true"] {
  border: 0.5px solid var(--color-red);
}
