.wrapper {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 1.2rem;
  justify-content: space-between;
  width: 100%;
}

.pinBox {
  flex: 1;
  min-width: 0;
  box-sizing: border-box;
  height: 5.6rem;
  background-color: var(--color-primary-100);
  border: 1px solid transparent;
  border-radius: 8px;
  color: var(--color-primary-700);
  font-size: var(--t2-font-size);
  font-weight: var(--t2-font-weight);
  line-height: var(--t2-font-line-height);
  text-align: center;
  transition: border-color 0.2s;
}

.pinBox:focus {
  outline: none;
  border-color: var(--color-caret);
}

.pinBox.error {
  border: 0.5px solid var(--color-red);
}
