.weekContainer {
  display: grid;
  gap: 1rem;
}

.weekLabels {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  font-size: var(--p1-font-size);
  font-weight: var(--p1-font-weight);
  line-height: var(--p1-font-line-height);
}

.weekDots {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1.5rem;
}
