.feedbackCard {
  display: flex;
  width: 100%;
  text-align: left;

  justify-content: space-between;
  padding: 2.4rem;
  border-radius: 0.8rem;
  background-color: var(--color-primary-200);
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  line-height: var(--button-font-line-height);
  letter-spacing: var(--button-font-letter-spacing);
}

@media (max-width: 767px) {
  .feedbackCard {
    padding: 1.4rem;
  }
}
