.userInfo {
  display: flex;
  width: 100%;
  text-align: left;
  color: var(--text-color);
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  line-height: var(--button-font-line-height);
  letter-spacing: var(--button-font-letter-spacing);
}
